*{
    background: #f5f5f5;
    font-family: 'Raleway';
    font-style: normal;
    text-decoration: none;
    margin: 0%;
    color: black;

}

/* Seccion de navegacion */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    height: 40px;
}

.navbar div {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.navbar div img{
    padding-inline-start: 30px;
    padding-right: 10px;
}

.navbar ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.navbar ul li{
    padding-inline-end: 30px;
    padding-left: 16px;
}

/* header */

.info{
    display: flex;
    padding-inline-end: 30px;
    padding-inline-start: 30px;
    padding-top: 50px;
    text-align: justify;
    align-items: center;

}
.info ul{
    display: inline-flex;
    list-style: none;
    padding-left: 0%;

}
.info ul li{
    display: flex;
    padding-right: 20px;
}

.info ul li img{
    padding: 2%;
}

.info img{ 
    padding-left: 50px;
}

/*Seccion de sobre mi*/

