*{

    background: #f5f5f5;
    font-family: 'Raleway';
    font-style: normal;
    text-decoration: none;
    margin: 0%;
    color: black;

}

/* Seccion de navegacion */

.navbar {
    display: flex;
    padding-inline-start: 70px;
    padding-inline-end: 70px ;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    height: 40px;
}

.navbar div {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.navbar div img{
    display: flex;
    padding-inline-start: 70px;
    padding-right: 10px;
}

.navbar ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.navbar ul li{
    padding-inline-end: 70px;
    padding-left: 16px;
}

/* header */

.info{
    display: flex;
    padding-inline-end: 70px;
    padding-inline-start: 70px;
    padding-top: 50px;
    text-align: justify;
    align-items: center;

}
.info ul{
    display: flex;
    list-style: none;
    padding-left: 0%;

}
.info ul li{
    display: flex;
    padding-right: 20px;
}

.info ul li img{
    padding: 2%;
}

.info img{ 
    padding-left: 50px;
}

/*Seccion de sobre mi*/
.forMe{
    padding-top: 100px;
    padding-inline-start: 70px;
    padding-inline-end: 70px ;
    text-align: justify;
    background: #dac9df;
}
.forMe p{ background: #dac9df;}

/*seccion skill y hobies*/
.sk_ho{
    padding-top: 70px;
}

.skills{
    display: flex;
    padding-top: 15px;
    padding-inline-start: 70px;
    padding-inline-end: 70px ;
    align-items: center;
    justify-content: space-between;
}
.cuadro{
    position: relative;
    width: 120px;
    height: 100px;
    background-color: rgba(190, 190, 190, 0.767);
    margin-left: 5px;
    border-radius: 5px;
}

.cuadro img{
    position: absolute;
    top: 38%;
    left: 10%;
    max-width: 100%;
    max-height: 100%;
    background: none;
    
}
.cuadro p{
    background: none;
    position: absolute;
    top:73%;
    left: 10%;
    font-size: small;
    font-weight: bold;
}
